<h1>List of Songs</h1>

<table>
    <thead>
        <tr>
            <th>blah1</th>
            <th>blah2</th>
        </tr>
    </thead>
    <tbody>
        <% @songs.each do |song| %>

            <tr>
                <td><%= song.title %></td>
                <td><%= song.genre %></td>
            </tr>
        <% end %>
    </tbody>

</table>